<%- include('partials/header.ejs')%>
    <body>
    <%- include('partials/navbar.ejs')%>
        <h1>Estilo Bootstrap</h1>

        <% perguntas.forEach((pergunta)=>{%>

            <p><%= pergunta.titulo %></p>
            <p><%= pergunta.descricao %></p>

        <%})%>

    </body>
<%- include('partials/footer.ejs')%>
